
body {
    text-align: left;
}
fieldset {
    display: block;
    width: 350px;
    margin: auto;
    padding: 0px;
    border: 6px double;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.589);
}

legend {
    border: 2px solid rgb(209, 188, 135);
    border-radius: 5px;
    padding: 3px 10px;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 2px rgba(167, 148, 112, 0.274);
    
    background-color: rgb(90, 66, 146);
}


div {
    display: block;
    width: 250px;
    margin: 10px auto;
}
label {
    display: inline-block;
    text-align: right;
    text-shadow: 2px 2px 2px rgba(52, 26, 63, 0.63);
    width: 70px;
    margin-right: 5px;
}

input {
    width: 150px;
    margin-top: 5px;
    padding: 4px;
    border: 3px inset;
    background-color: rgba(245, 222, 179, 0.897);
    font-family: inherit;
    color: goldenrod;
    letter-spacing: 0.15em;
    text-shadow: 2px 2px 2px rgb(233, 238, 184);
}

button {
    display: none;
}

.remove {
    display: inline-block;
}

#admin-button {
    width: 170px;
    height: 40px;
    padding: 5px;
    display: block;
    margin: 20px auto;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 2px rgb(237, 240, 198);
    color: rgb(192, 149, 40);
    border: 2px outset;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#admin-button:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.589);
}

#admin-button:active {
    box-shadow: none;
    border: inset 2px;
    text-align: end;
    background: rgb(236, 215, 161);
}